:root {
  --primary: #084d68;
  --secondary: #69c181;
  --primary-light: #0d7685;
  --danger: #960200;
  --warning: #ffa630;
  --bg-color: #eeeeee;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.header {
  background-color: var(--primary);
}

.header__container {
  width: 100%;
  max-width: 960px;
}

.logo {
  --size: 64px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
}

.footer {
  margin-top: auto;
}

.banner-home {
  height: 500px;
  max-height: 535px;
  background-image: url("../img/bg.jpg");
  background-size: contain;
  background-repeat: round;
}

.text-white {
  color: #ffffff;
}

.button-primary {
  background-color: var(--primary);
  color: #ffff;
}

.product {
  border: 0.5px solid #000000;
  padding: 10px;
  margin: 5px;
}

.image-product {
  width: 180px;
  height: 180px;
  border: 1px dashed #000000;
  padding: 10px;
  margin: 5px 0;
}

.section {
  margin: 10px 0px;
}
